<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.icddrb.enap">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/enaplogo"
        android:label="@string/app_name"
        android:supportsRtl="true" android:largeHeap="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name="org.icddrb.enap.Login"
            android:label="ENAP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.icddrb.enap.SettingForm"
            android:label="Device Setting" />
        <activity
            android:name="org.icddrb.enap.MainMenu"
            android:label="Main Menu" />
        <activity
            android:name="navigationDrawer.NavigationActivity"
            android:label="Nav" />
        <activity
            android:name="org.icddrb.enap.SettingFormNew"
            android:label="Device Settings" />

        <activity
            android:name="org.icddrb.enap.Observation"
            android:label="Device Settings" />
        //Android Manifest Code
        <!-- <activity android:name="org.icddrb.data.Screening" android:label="Screening" /> -->

        //Service
        <service android:name=".Sync_Service" />

        <activity
            android:name="org.icddrb.enap.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/CustomTheme"></activity>
        <activity android:name=".Registration" />
        <activity android:name=".rv_MainActivity" />
        <activity android:name=".PatientList" />
        <activity android:name=".Observation_Time" />
        <activity android:name=".MainActivity1" />
        <activity android:name=".LD_Outcome" />

        <activity android:name=".KMC_Init" />
        <activity android:name=".KMC_Pos" />
        <activity android:name=".KMC_Pos_list" />
        <activity android:name=".KMC_Feed_list" />
        <activity android:name=".KMC_Feed" />
        <activity android:name=".KMC_Outcome" />

        <activity android:name=".RecallSurvS1" />
        <activity android:name=".RecallSurvS2" />
        <activity android:name=".RecallSurvS3" />
        <activity android:name=".RecallSurvS4" />
        <activity android:name=".RecallSurvS5" />
        <activity android:name=".KMC_Treat" />
        <activity android:name=".KMC_DataExt" />
        <activity android:name=".LD_DataExt_old" />
        <activity android:name=".MRS_FinalStatus" />
        <activity android:name=".LD_DataExt" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".Acs_Veri" />
        <activity android:name=".Infver_Pdetail" />
        <activity android:name=".Infver_Denomin" />
        <activity android:name=".Infver_SupCare" />
        <activity android:name=".Infver_labInv" />
        <activity android:name=".Infver_Outcome" />
        <activity android:name=".Infver_Anti_list" />
        <activity android:name=".Infver_Anti" />
        <activity android:name=".MRS_FollowUp" />

        <activity android:name=".MRS_Photo"
            android:label="Visual Prompt Picture"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity android:name=".Infver_Inj" />
        <activity android:name=".Infver_Inj_list" />
        <activity android:name=".Acs_Veri1" />
    </application>
</manifest>